
*.ipch

*.db

*.json

.vs/Archiver/v16/.suo

.vs/Lab-4/v16/

Archiver/.vs/Archiver/v16/

.vs/

Archiver/Archiver/Archiver.vcxproj.filters

Archiver/Archiver/Archiver.vcxproj

Archiver/Archiver.sln

Archiver/Archiver/Archiver.vcxproj.user

Archiver/Archiver/Debug/

Archiver/Debug/
